<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
	
		<!-- SETTINGS -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost/Ahk_Server</property>
<!--		<property name="hibernate.hbm2ddl.auto">update</property>-->
		<property name="connection.username">root</property>
		<property name="connection.password">1234</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
		
		<!-- MAPPING -->
		<!--<mapping class="ch.makery.address.models.Cliente" />
		<mapping class="ch.makery.address.models.Concesionario" />
		<mapping class="ch.makery.address.models.Empleado" />
		<mapping class="ch.makery.address.models.Especialidad" />
		<mapping class="ch.makery.address.models.Mecanico" />
		<mapping class="ch.makery.address.models.Mecanico_Tiene_Especialidad" />
		<mapping class="ch.makery.address.models.Mecanico_Tiene_Tarea" />
		<mapping class="ch.makery.address.models.Tarea" />
		<mapping class="ch.makery.address.models.Vehiculo" />
		<mapping class="ch.makery.address.models.Ventas" />
		<mapping class="ch.makery.address.models.Ventas_Vende_Vehiculo" />-->

	</session-factory>
</hibernate-configuration>